body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/907/93/78/satan-red-and-black-abstract-hp-omen-wallpaper-preview.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  h3 {
    text-align: center;
    color: white;
    font-size: 18px;
  }
  
  .grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 300px;
    margin: 10px;
  }
  
  .card-player1 h2,
  .card-player2 h2 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  button {
    color: #fff;
    padding: 20px;
    margin: auto;
    width: 100%;
    height: 80px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
  
  button.botao {
    font-size: 20px;
    width: 150px;
    margin-right: 20px;
    cursor: auto;
  }
  
  section {
    border-radius: 5px;
    font-size: 32px;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
  
  .col:hover {
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .botao:hover {
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .card-player1,
  .card-player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border: 2px solid #161616;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  
  .player-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
  }