  body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #353535;
    margin: 0;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    text-align: center;
    color: white;
  }
  